[Unit]
Description=Prepare mount points
Before=remote-fs-pre.target
Wants=remote-fs-pre.target

[Service]
Type=oneshot
ExecStart=sudo /opt/snapdSB/snapdSB.sh
ExecStopPost=sudo chattr +i /

[Install]
WantedBy=remote-fs.target
