[Unit]
Description=Prepare mount points
Before=remote-fs-pre.target
Wants=remote-fs-pre.target

[Service]
Type=oneshot
ExecStartPre=chattr -i /
ExecStart=/opt/bin/snapdSB.sh
ExecStopPost=chattr +i /

[Install]
WantedBy=remote-fs.target
